---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import DividerDashed from "@/components/DividerDashed.astro";
import Section from "@/components/Section.astro";
import Subheading from "@/components/Subheading.astro";
import Subtext from "@/components/Subtext.astro";
import ContactDetails from "@/components/ContactDetails.astro";
import ProjectDetails from "@/components/ProjectDetails.astro";
import PostLinks from "@/components/PostLinks.astro";
import TalkLinks from "@/components/TalkLinks.astro";
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import majikodeLogoImg from "@/assets/majikode-logo-dark.png";
import workwaveLogoImg from "@/assets/workwave-logo-dark.png";

const posts = await getCollection("writing");
const sortedPosts = posts
    .map((post) => ({
        slug: post.id,
        title: post.data.title,
        date: post.data.date,
        keywords: post.data.keywords || [],
    }))
    .sort((a, b) => {
        if (a.date && b.date) {
            return b.date.getTime() - a.date.getTime();
        }
        return a.date ? -1 : b.date ? 1 : 0;
    });
const latestPosts = sortedPosts.slice(0, 5);
---

<Layout>
    <Section class="flex flex-col gap-6">
        <p><span class="font-bold">Kamil Marut.</span></p>
        <p>
            I run my own consulting agency <a href="https://majikode.com" target="_blank" rel="noreferrer">
                <Image src={majikodeLogoImg} alt="Majikode" class="w-18 h-3 inline" />
            </a> where we specialize in rapid prototyping of new ideas and MVPs, as well as rescuing legacy, unloved, and
            underperforming systems.
        </p><p>
            I am also focused on growing <a
                href="https://workwave.com"
                target="_blank"
                rel="noreferrer"
                class="font-bold"><Image src={workwaveLogoImg} alt="WorkWave" class="w-20 h-3 inline" /></a
            >, a startup committed to make workations attractive to both employees and employers.
        </p>
        <p>
            Privately, I like to tinker with my homelab, hiking, swimming, and playing padel. <span class="font-bold"
                >Advocating for open-source and privacy-oriented software.</span
            >
        </p>
        <p>Want to hire me? Here's my <a href="/resume" class="font-bold">resume</a>.</p>
    </Section>
</Layout>
